<div class="article-body">
	<h1 style="margin-bottom: 2px"><%= name %></h1>
	<p style="margin-top: 5px"><%- description %></p>


	<form method="post">
		<h2>Canvas</h2>
		<select id="canvas-size">
			<% if (size.custom) { %><option value="custom">Custom</option><% } %>
			<% for (var i = 0; i < size.defaults.length; i++) { const d = size.defaults[i], s = `${d[0]} x ${d[1]}`; %>
				<option value="<%= s.replace(/ /g, '') %>"<%= i == 0 ? ' selected' : '' %>><%= s %></option>
			<% } %>
		</select>
		<% if (size.custom) { %>
			<div class="custom-size">
				<input type="number" name="canvas-x" placeholder="Width" min="1" max="10000" value="<%= size.defaults[0][0] %>" required>
				<span> x </span>
				<input type="number" name="canvas-y" placeholder="Height" min="1" max="10000" value="<%= size.defaults[0][1] %>" required>
			</div>
		<% } %>
		<p><div id="canvas"></div></p>

		<h2 style="margin-bottom: 2px">Options</h2>
		<span class="small-tooltip">Pricing starts at $<%= price %> USD</span>
		<% for (const option of options) { var isFirst = true; %>
			<h3><%= option.label %></h3>

			<%
				switch (option.type) {
					case 'radio':
						for (const opt of option.options) {
			%>
				<input type="radio" name="<%= option.id %>" id="<%= opt.id %>" value="<%= opt.id %>"<%= isFirst ? ' checked' : '' %> required>
				<label for="<%= opt.id %>">
					<div>
						<span><%= opt.label %></span>
						<span> $<%= opt.value %> USD</span>
					</div>
				</label>
				<br>
			<%
							isFirst = false;
						}
						break;
					case 'number':
			%>
				<input type="number" name="<%= option.id %>" value="<%= option.data.value %>" min="<%= option.data.range[0] %>" max="<%= option.data.range[1] %>" step="1" required>
				<br>
			<%
						break;
				}
			%>
		<% } %>

		<h2>Description</h2>
		<textarea name="description" id="description" style="width: 100%; max-width: 100%" maxlength="1000" rows="10" required></textarea>

		<div id="price"><b>Total price:</b> $<%= price %> USD</div>
		<p class="small">By continuing, you're accepting the <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>.</p>
		<button class="btn-2">Submit</button>
	</form>
</div>

