<%
	/*
		robotoskunk.com - The whole main website of RobotoSkunk.
		Copyright (C) 2023 Edgar Alexis Lima <contact@robotoskunk.com>

		This program is free software: you can redistribute it and/or modify
		it under the terms of the GNU Affero General Public License as published
		by the Free Software Foundation, either version 3 of the License, or
		(at your option) any later version.

		This program is distributed in the hope that it will be useful,
		but WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
		GNU Affero General Public License for more details.

		You should have received a copy of the GNU Affero General Public License
		along with this program.  If not, see <https://www.gnu.org/licenses/>.
	*/
-%>
<div class="comms-page">
	<img src="/resources/svg/comms/title.svg" class="title" width="1200" height="312" alt="Commissions" role="presentation">

	<div class="row">
		<img src="/resources/svg/comms/alex-happy.svg" alt="Cute artworks of your original characters!" width="350" height="316" style="max-width: 90%">
		<div class="row-content">
			<h2>Artworks!</h2>
			<p>Too cute artworks of your original characters!
		</div>
	</div>

	<div class="row reverse">
		<img src="/resources/svg/comms/kyle-meow.svg" alt="Stickers of your original characters!" width="392" height="250" style="max-width: 90%">
		<div class="row-content">
			<h2>Stickers!</h2>
			<p>Stickers for Telegram, WhatsApp and Discord of your original characters!
		</div>
	</div>


	<div class="body" style="text-align: center">
		<h2>And custom interactive wallpapers!</h2>
		<p>Bring your desktop to life with a custom interactive wallpaper! You can choose between a simple wallpaper with a moving background or a more complex one with a moving character.</p>
		<div class="vid">
			<video autoplay loop muted playsinline poster="/resources/img/commissions/novid.webp" aria-label="Interactive Wallpaper examples">
				<source src="/resources/vid/interactive-wallpaper.webm" type="video/webm">
				<source src="/resources/vid/interactive-wallpaper.mp4" type="video/mp4">
				<img src="/resources/img/commissions/novid.webp" width="1280" height="720" alt="Interactive Wallpaper examples">
			</video>
		</div>

		<br>

		<h2>Choose your commission!</h2>
		<%_ for (const article of locals.articles) { -%>
			<a class="article" href="/commissions/article/<%- article.id %>">
				<img src="/resources/img/commissions/<%= article.img %>" width="180" height="180" alt="<%- article.label %>"> 
				<%- article.label %>
			</a>
		<%_ } -%>

		<h2>Queue</h2>
		<p>Here you can see the current queue status. You can order a commission only if there is an available slot.</p>
		<div class="list">
			<%_ for (const commission of locals.commissions) { -%>
				<div>
					<%_ if (commission.allow) { -%>
						<span><a href="/commissions/order/<%= commission.id %>"><%= commission.label %></a></span>
					<%_ } else { -%>
						<span><%- commission.label %></span>
					<%_ } -%>
					<div>
						<%_ if (commission.author) { -%>
							<span class="author">Requested by <a href="/user/<%= commission.author %>">@<%= commission.author %></a></span>
						<%_ } else { -%>
							<span class="author">Requested by Anonymous</span>
						<%_ } -%>
						<%- commission.status %>
					</div>
				</div>
			<%_ } -%>

			<%_ for (var i = 0; i < locals.available; i++) { -%>
				<div>
					<span style="text-align: center">Available slot</span>
				</div>
			<%_ } -%>
		</div>

		<p><a class="btn-2 black" href="/commissions/order-list">My Order List</a>

		<div style="font-size: 15px; max-width: 600px; margin: 0 auto; margin-top: 75px;">
			The commission <a href="/commissions/rules">must follow the established rules</a> to be validated, otherwise the commission will be canceled. Payment will be controlled by the website using PayPal services, any bug with the website please report it to RobotoSkunk.
		</div>
		<img src="/resources/svg/comms/alex-with-kyle.svg" title="Obviously Kyle loves Alex." alt="Obviously Kyle loves Alex." width="250" height="141" style="max-width: 90%; margin: 25px 0;">
	</div>
</div>
