<%
	/*
		robotoskunk.com - The whole main website of RobotoSkunk.
		Copyright (C) 2023 Edgar Alexis Lima <contact@robotoskunk.com>

		This program is free software: you can redistribute it and/or modify
		it under the terms of the GNU Affero General Public License as published
		by the Free Software Foundation, either version 3 of the License, or
		(at your option) any later version.

		This program is distributed in the hope that it will be useful,
		but WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
		GNU Affero General Public License for more details.

		You should have received a copy of the GNU Affero General Public License
		along with this program.  If not, see <https://www.gnu.org/licenses/>.
	*/
-%>
<div class="comms-page">
	<div class="body" style="text-align: center">
		<h1>My Order List</h1>

		<%_ if (locals.commissions.length > 0) { -%>
			<p>Here you can find all your requested commissions.

			<div class="list">
				<%_ for (const commission of locals.commissions) { -%>
					<div>
						<span><a href="/commissions/order/<%= commission.id %>"><%- commission.label %></a></span>
						<div>
							<span>Requested at <script nonce="<%- locals.nonce %>">document.write(new Date(Number('<%- commission.createdAt %>')).toLocaleDateString())</script></span>
							<%- commission.status %>
						</div>
					</div>
				<%_ } -%>
			</div>
		<%_ } else { -%>
			<p>You haven't requested any commissions yet. Maybe you should <a href="/commissions">check out the available commissions</a>?
		<%_ } -%>
	</div>

	<p>
	<% if (locals.page != 0) { %>
		<a class="btn-2 black" href="/commissions/order-list?page=<%= locals.page - 1 %>">&lt;&lt;&lt; Previous Page</a>
	<% } %>
	<% if (locals.page < locals.maxPage - 1) { %>
		<a class="btn-2 black" href="/commissions/order-list?page=<%= locals.page + 1 %>">Next Page &gt;&gt;&gt;</a>
	<% } %>

	<p><a class="btn-2 black" href="/commissions">Back to Commissions</a>
</div>
