<!DOCTYPE html>
<html lang="en">
<title><%= locals.html.meta.title %></title>
<meta charset="utf-8">

<!-- START OF META -->

<!-- Meta section -->
<meta name="siteName" content="RobotoSkunk">
<meta name="author" content="RobotoSkunk">
<meta name="description" content="<%= locals.html.meta.description %>">
<meta name="copyright" content="<%= new Date().getFullYear() %> RobotoSkunk">
<meta name="application-name" content="RobotoSkunk">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex, nofollow">

<!-- END OF META -->

<link rel="preload" href="/resources/css/fonts/roboto.css?v=<%= locals.env.version %>" as="style">
<link rel="preload" href="/resources/css/stylesheet-simple.css?v=<%= locals.env.version %>" as="style">


<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" href="/resources/css/fonts/roboto.css?v=<%= locals.env.version %>">
<link rel="stylesheet" href="/resources/css/stylesheet-simple.css?v=<%= locals.env.version %>">

<% if (locals.html.head) { %> <%- locals.html.head %> <% }%>
<% if (locals.error.debug) { %>
<script nonce="<%= locals.server.nonce %>">console.error(`<%= locals.error.debug  %>`);</script>
<% } %>

<div class="center">
	<div class="msg-content">
		<h1><%= locals.error.code %></h1>
		<p><%- locals.error.message %>
	</div>
	<div class="img-cont" style="background-image: url('<%= locals.error.imgPath %>');" role="img" alt="<%= locals.error.imgAlt %>">
		<img width="250" height="250" src="<%= locals.error.imgPath %>" class="img" alt="<%= locals.error.imgAlt %>">
	</div>
</div>
